@import '../../../common.scss';

.login {
  @include common-page;
  height: 100vh;
  margin: 0;

  &__title {
    color: $primary-blue;
    text-align: center;
  }

  &__input {
    @include common-input;
    margin-bottom: 1.0rem
  }

  &__button {
    @include common-button;
    width: 6.0rem;
  }
}