@import '../../../common.scss';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background-color;

  &__title {
    color: $primary-blue;
    text-align: center;
  }

  &__input {
    color: $text-color;
    width: 80%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    box-sizing: border-box;
    margin-bottom: 1.0rem
  }

  &__button {
    background-color: $primary-blue;
    color: #FFFFFF;
    display: block;
    width: 6rem;
    padding: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.0rem;
    font-weight: bold;
    transition: background-color 0.2s;

    &:hover {
      background-color: $secondary-blue;
      cursor: pointer;
    }
  }
}