@import '../../../common.scss';

  .tab {
    margin-top: 4.0rem;
    width: 100vw;
    height: calc(100vh - 4.0rem);
  
    &__index {
      height: 3.0rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $background-color;
      padding: 0.5rem;
  
      &--item {
        height: 1.5rem;
        width: 7.5rem;
        text-align: center;
        color: #5f5f5f;
        user-select: none;
  
        &.active {
          color: $primary-blue;
          border-bottom: 0.25rem solid $primary-blue;
        }
      }
    }

    &__filter {
      height: 0.5rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // background-color: $background-color;
      background-color: #fff;
    }

    &__filter-icon {
      height: 1.0rem;
      padding: 0.5rem;
      // margin: auto auto auto 0.5rem;
      border: 1px solid $primary-blue;
      border-radius: 4px;
    }
  
    &__content {
      width: 100vw;
      height: calc(100vh - 8.5rem);
      background-color: #fff;
    }
  }