.custom-tooltip {
  border: 2px solid #DDD;
  padding: 0 1.0rem;
  background-color: #fff;

  .label-achievement {
    color: #a4c4e1;
  }

  .label-over {
    color: #f1d6df;
  }

  .label-under {
    color: #a4e1a9;
  }
}