@import '../../../common.scss';

.todays-info {
  @include common-page;

  .container-title-date {
    height: 2.0rem;
    width: 100%;
    background-color: $secondary-blue;
    font-size: 1.5rem;
    color: $background-color;
    text-align: center;
    
  }

  .container-title {
    height: 2.0rem;
    margin-right: auto;

    label {
      margin-right: auto;
      margin-left: 0.5rem;
      height: 2.0rem;
      display: flex;
      align-items: center;
    }
  }

  .calorie-responsive-container {
    width:100%;
    height: calc((100vh - 14.0rem) * 1 / 3);
  }
  .pfc-responsive-container {
    width:100%;
    height: calc((100vh - 14.0rem) * 1 / 3);
  }

  .recharts-surface {
    background-color: #fff;
  }
}