@import '../../../common.scss';

.form {
  @include common-page;

  &__input {
    margin-top: 1.5rem;
  }

  &__input-main {
    @include common-input;
    
    width: 12.0rem;
    height: 5.0rem;
    font-size: 3.5rem;
    text-align: center;
  }

  &__input-sub {

    &--long {
      @include common-input;
      width: 4.25rem;
      font-size: 1.25rem;
      text-align: center;
    }

    &--short {
      @include common-input;
      width: 3.0rem;
      font-size: 1.25rem;
      text-align: center;
    }
  }

  &__radio {
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
    padding: 0.5rem;
  }
  
  &__radio-button {
    width: 5.0rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #5f5f5f;
    padding: 0.5rem;
    user-select: none;
    
    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: #fff;
      color: $primary-blue;
      cursor: initial;
      border: 1px solid $primary-blue;
      border-radius: 4px;
    }
  }

  &__span {
    margin: auto 0.5rem;
  }

  &__unit {
    font-size: 2.0rem;
    margin: auto 0.5rem;
  }

  &__button {
    @include common-button;
    width: 6.0rem;
    margin-top: 1.5rem;
  }
}