@import '../../../common.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 4.0rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: $primary-blue;

  &__title {
    color: $background-color;
    font-size: 1.2rem;
    margin: auto;
  }

  &__button {
    width: 3.0rem;
    margin: auto 1.0rem;
  }

  &__icon {
    margin: 0 auto;
    height: 1.5rem;
    width: 1.5rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $background-color;
    font-size: 1.2rem;

    span {
      text-align: center;
      font-size: 0.75rem;
      margin-top: 0.25rem;
    }
  }
}